RewriteEngine On
RewriteBase /task_management/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

RewriteRule ^(config|core|controllers|models|helpers)/ - [F,L]

Options -Indexes